@{
    Layout = null;
}
<div class="local-module parl-definitions-right-hand-module">
    <h2>Definitions</h2>
    <div class="beta-tag">Beta</div>
    <div class="local-module-content">
        <div>To reveal a word's <a href="#" class="definitions-example">definitions</a>, roll over on desktop or tap on mobile and tablet.</div>
        <div>You can turn this feature on/off in the Definitions menu at the top of any page.</div>
        <div>
            <a href="" class="parl-definitions-close">Close this message</a> | <a href="" class="parl-definitions-feedback">Leave feedback</a>
        </div>
    </div>
</div>