@{
    Layout = null;
}


<div class="parl-toggle-definitions-container">
    <div>This tool defines complex words and phrases within the page.</div>
    <div class="parl-toggle-definitions-buttons">
        <div class="parl-toggle-definitions-button enabled" data-value="true">Enabled</div>
        <div class="parl-toggle-definitions-button"  data-value="false">Disabled</div>
    </div>
</div>
