<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var options = {
            wordFrequency: 3,
            contentSelectors: ["#content"]
        }
        var jargonBuster = new ParlJargonBusterParliamentUK(options);

        jargonBuster.Build();
    });
</script>




<div id="wrapper" class="">
        <div id="header">
            <div id="skiplink"><a href="#skipToContent">Skip to content</a></div>
            <a id="ctl00_ctl00_ctlGlobalHeader_hypHomeLink" href="/"><img src="/assets/images/parliament-uk-logo.gif" alt="" style="border-width:0px;" /></a>

            <fieldset class="site-search">

                <ul>

                    <li><a id="ctl00_ctl00_ctlGlobalHeader_ctlNavigationLinks_rptLinks_ctl01_hypLink" href="/site-information/accessibility/">Accessibility</a></li>

                    <li><a id="ctl00_ctl00_ctlGlobalHeader_ctlNavigationLinks_rptLinks_ctl02_hypLink" href="/site-information/privacy/">Cookies</a></li>

                    <li><a id="ctl00_ctl00_ctlGlobalHeader_ctlNavigationLinks_rptLinks_ctl03_hypLink" href="https://subscriptions.parliament.uk/accounts/UKPARLIAMENT/subscriber/new?">Email alerts</a></li>

                    <li><a id="ctl00_ctl00_ctlGlobalHeader_ctlNavigationLinks_rptLinks_ctl04_hypLink" href="/site-information/rss-feeds/">RSS feeds</a></li>

                    <li class="last"><a id="ctl00_ctl00_ctlGlobalHeader_ctlNavigationLinks_rptLinks_ctl05_hypLink" href="/site-information/contact-us/">Contact us</a></li>
                </ul>


                <legend>Site search</legend>
                <div>


                    <form action="http://www.parliament.uk/search/results/" method="get">
                        <div class="search">
                            <ol>
                                <li>
                                    <input type="text" class="txtSearch" name="q" value="" />
                                </li>
                            </ol>
                            <button type="submit" id="btnSearch" class="stdButton btnSearch">Search</button>
                        </div>
                    </form>

                </div>


            </fieldset>


            <div id="navigation">
                <ul id="level-1">
                    <li class="">
                        <a href="/">Home</a>
                    </li>

                    <li class="over">
                        <a href="/business/">Parliamentary business</a>
                    </li>

                    <li class="">
                        <a href="/mps-lords-and-offices/">MPs, Lords &amp; offices</a>
                    </li>

                    <li class="">
                        <a href="/about/">About Parliament</a>
                    </li>

                    <li class="">
                        <a href="/get-involved/">Get involved</a>
                    </li>

                    <li class="">
                        <a href="/visiting/">Visiting</a>
                    </li>

                    <li class="last">
                        <a href="/education/">Education</a>
                    </li>

                </ul>
                <ul id="level-2">

                    <li><a href="/business/commons/">House of Commons</a></li>

                    <li><a href="/business/lords/">House of Lords</a></li>

                    <li><a href="http://calendar.parliament.uk/">What&#39;s on</a></li>

                    <li><a href="/business/bills-and-legislation/">Bills &amp; legislation</a></li>

                    <li><a href="/business/committees/">Committees</a></li>

                    <li class="over"><a href="/business/publications/">Publications &amp; records</a></li>

                    <li><a href="http://parliamentlive.tv/Commons">Parliament TV</a></li>

                    <li><a href="/business/news/">News</a></li>

                    <li><a href="http://www.parliament.uk/topics/topical-issues.htm">Topics</a></li>

                </ul>
            </div>
            
            <div id="breadcrumb">
                <div class="inner">
                    <strong>You are here:</strong>
                    <ul><li><a href="http://www.parliament.uk/">Parliament home page</a></li><li><a href="http://www.parliament.uk/business/">Parliamentary business</a></li><li><a href="http://www.parliament.uk/business/publications/">Publications &amp; records</a></li><li><a href="http://www.parliament.uk/business/publications/research/">Research publications</a></li><li>EU referendum 2016</li></ul>
                </div>
            </div>

        </div>




        <form method="post" action="/business/publications/research/eu-referendum/" id="aspnetForm">


            <div id="secondary-navigation">
                <ul><li class="grand-parent"><a href="/business/publications/">Publications &amp; records</a><ul><li class="grand-parent"><a href="/business/publications/research/">Research publications</a><ul><li class="parent"><a href="/business/publications/research/eu-referendum/">EU referendum 2016</a><ul><li><a href="/business/publications/research/eu-referendum/background-uk-eu-referendum-2016/">Background to the UK’s EU referendum</a></li></ul></li></ul></li></ul></li></ul>
            </div>




            <div id="content" class="three-column">


                <div id="content-small">





                    <a name="skipToContent"></a>
                    <h1 id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_HeadingOne_ctlHeadingH1_h1Item">
                        The UK’s EU referendum 2016 explained
                    </h1>













                    <img src="http://assets3.parliament.uk/iv/main-large//ImageVault/Images/id_19572/scope_0/ImageVaultHandler.aspx.jpg" id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_PageContent_ctlRichMediaControl_SimpleImage_imgMainImage" alt="" />


                    <div class="inner">
                        <!-- Start Indexing -->
                        <div class="rte main-introduction">
                            <p>The Commons Library produces briefing papers which set out the background and stages of the UK’s referendum for remaining in or leaving the European Union.</p>
                            <p>This page highlights the analysis and comment on the in-out referendum and presents an impartial view of the different arguments and opinions. It offers information on potential “Brexit” and on remaining in the EU.</p>
                        </div>
                        <!-- Stop Indexing -->

                        <ul id="jumplinks" class="square-bullets">

                            <li><a href="#jump-link-0">New</a></li>

                            <li><a href="#jump-link-1">Timetable</a></li>

                            <li><a href="#jump-link-2">Who can vote</a></li>

                            <li><a href="#jump-link-3">Impact of staying </a></li>

                            <li><a href="#jump-link-4">The UK ‘deal’ </a></li>

                            <li><a href="#jump-link-5">Impact of leaving</a></li>

                            <li><a href="#jump-link-6">Alternatives to membership</a></li>

                            <li><a href="#jump-link-7">Further reading</a></li>

                        </ul>


                        <!-- Start Indexing -->
                        <!--PAGEWATCH-->
                        <div id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_PageContent_ctlMainBody_wrapperDiv" class="rte">
                            <p></p><div>
                                <h2 id="jump-link-0">New</h2>
                                <h3>The UK ‘deal’</h3>
                                <p><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7524">Summary and analysis of the new Settlement for the UK in the EU</a> <br />This Commons Library briefing looks at the new Settlement for the UK within the EU agreed at the European Council<br />(8 March 2016)</p>
                                <h3>Impact of staying - Northern Ireland</h3>
                                <p>New links to the <a href="http://www.niassembly.gov.uk/assembly-business/eu-matters/">NI Assembly EU newsletter</a> and <a href="https://twitter.com/NIAEUMatters">Twitter account</a> <br />(8 March 2016)</p>
                                <h3>Free movement of people</h3>
                                <p><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7525">Leaving the EU: How might people currently exercising free movement rights be affected?</a><br />This Commons Library briefing looks at how leaving the EU would affect the immigration status and entitlements of UK citizens currently living in the EU and EU citizens living in the UK. <br />(8 March 2016)</p>
                                <h3>Guidance to charities</h3>
                                <p><a href="https://www.gov.uk/government/news/charity-regulator-issues-guidance-on-eu-referendum">Charity Commission issues guidance on EU referendum</a> <br />The independent regulator of charities in England and Wales issued guidance to charities on engagement with the UK's EU referendum. <br />(7 March 2016)</p>
                                <p>The guidance contains 5 keys elements for charities to consider:</p>
                                <ol>
                                    <li>Does this political activity support, and is it incidental to, the charity’s purposes?</li>
                                    <li>Are any conflicts of interest and other risks properly managed?</li>
                                    <li>Are decisions to engage properly recorded?</li>
                                    <li>What is the role of the Commission if guidance is breached?</li>
                                    <li>Does the charity’s involvement need to be registered with the Electoral Commission?</li>
                                </ol>
                                <p>Further information is on the Gov.UK website </p>
                                <h2 id="jump-link-1">Timetable</h2>
                                <p>green papers The Prime Minister announced that the UK's EU referendum will be held on <strong>23 June 2016.</strong></p>
                                <p>
                                </p><ul>
                                    <li><a href="http://www.bbc.co.uk/news/uk-politics-35621079">EU referendum: Cameron sets June date for UK vote (BBC website)</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7486">Starting the EU referendum campaign: rules and regulations</a><br />This paper highlights the legislation to start the official campaign before the EU referendum, including regulations to set the date of the referendum, and the duration cabinet and start date. It also includes information on the rules that apply to campaign activity.</li>
                                </ul>
                                <h2 id="jump-link-2">Who can vote</h2>
                                <p>People eligible to vote must be over 18 years old, and at least one of the following:</p>
                                <p>
                                </p><ul>
                                    <li>
                                        A British or Irish citizen resident in the UK
                                    </li>
                                    <li>
                                        A qualifying Commonwealth citizen
                                    </li>
                                    <li>
                                        A British citizen who is a service voter or overseas voter (British citizens may register as overseas voters for up to 15 years after leaving the UK)
                                    </li>
                                    <li>A Member of the House of Lords</li>
                                    <li>An Irish or Commonwealth citizen who would be entitled to vote in European elections in Gibraltar</li>
                                </ul>
                                <p>The choice of franchise (Section 2 of the European Union Referendum Act 2015) excludes citizens of other EU countries resident in the UK (but EU citizens from Cyprus and Malta resident in the UK qualify as Commonwealth citizens, and Irish citizens resident in the UK are also included in the franchise).</p>
                                <h2 id="jump-link-3">Impact of staying </h2>
                                <p>What is the impact of EU membership on the UK and its citizens? How would it change with the implementation of the UK ‘deal’ secured in February?</p>
                                <ul>
                                    <li><a href="https://www.gov.uk/guidance/review-of-the-balance-of-competences">Government’s Review of the Balance of Competences</a> - The review of the balance of competences in an audit of what the EU does and how it affects the UK.</li>
                                    <li><a href="http://www.publications.parliament.uk/pa/ld201415/ldselect/ldeucom/140/14002.htm">The Review of the Balance of Competences between the UK and the EU</a> - House of Lords EU Committee - 12th Report, March 2015</li>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06455">EU budget 2014-20 - Commons Library briefing</a> – includes statistics on UK's contributions and receipts to and from the EU budget</li>
                                </ul>
                                <h3>Scotland</h3>
                                <p>
                                </p><ul>
                                    <li><a href="http://www.gov.scot/Resource/0043/00439166.pdf">Scotland in the European Union (PDF)</a> -&nbsp;Scottish Government publication on its position towards membership of the EU (2013)</li>
                                </ul>
                                <p>
                                </p><ul>
                                    <li><a href="http://www.scottish.parliament.uk/S4_EuropeanandExternalRelationsCommittee/General Documents/SB_15-71_The_impact_of_EU_membership_in_Scotland.pdf">The impact of EU membership in Scotland - SPICe briefing (PDF) </a><br />The briefing sets out what EU membership means for Scotland and includes an analysis of the data relating to Scotland’s economic and social links with the EU. It covers topics such as trade, inward investment, migration, public finance, higher education, transport, energy, agriculture and fisheries and the environment.&nbsp;(30 October 2015)</li>
                                </ul>
                                <h3>Wales</h3>
                                <p>
                                </p><ul>
                                    <li><a href="http://www.assembly.wales/en/bus-home/research/Pages/europe-matters.aspx">Europe Matters (Welsh Assembly newsletter)</a><br />A newsletter produced by the EU office and the National Assembly for Wales International Relations Team to inform those who have an interest in Wales and European matters on the scrutiny and policy development activities of the committees of the National Assembly of Wales where they relate to current European issues. </li>
                                </ul>
                                <h3>Northern Ireland</h3>
                                <ul>
                                    <li><a href="http://www.niassembly.gov.uk/assembly-business/eu-matters/">EU matter (NI Assembly newsletter)</a> -&nbsp;newsletter produced by the EU Affairs Manager which includes information on the work of the Assembly committees on EU issues and on EU developments</li>
                                    <li><a href="http://www.niassembly.gov.uk/globalassets/documents/raise/publications/2016/eti/2116.pdf">The EU referendum and potential implications for Northern Ireland (PDF)</a>&nbsp;- Northern Ireland Assembly RIS research paper - This paper examines the debate surrounding the EU referendum and the potential implications of that vote on Northern Ireland, focusing on trade and investment.</li>
                                </ul>
                                <p>
                                </p><h2 id="jump-link-4">The UK ‘deal’ </h2>
                                <p>The following areas form the basis of the Decision and other texts adopted by EU Member States on 19 February 2016 on <a href="http://www.consilium.europa.eu/en/meetings/european-council/2016/02/EUCO-Conclusions_pdf/">a new settlement for the UK in the EU.</a></p>
                                <p>
                                </p><ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7524">Summary and analysis of the new Settlement for the UK in the EU</a><br />This Commons Library briefing looks at the new Settlement for the United Kingdom within the European Union agreed at the European Council on 17-19 February 2016.&nbsp;The Settlement consists of seven texts: a Decision and a Statement of Heads of State or Government and five Declarations.</li>
                                </ul>
                                <h3>Sovereignty</h3>
                                <p>"Ever closer union" is an EU aim and is enshrined in the EU Treaties. Yet David Cameron would like to remove it - or to exempt the UK from it. </p>
                                <p>
                                </p><ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7230">"Ever Closer Union" in the EU Treaties and Court of Justice case law</a><br />This note looks at its history, its survival through several Treaty changes and its use by the EU Court of Justice.</li>
                                </ul>
                                <h3>Economic governance</h3>
                                <p>
                                </p><ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06091">In brief: UK-EU economic relations</a><br />This note sets out some of the main indicators of the UK’s economic relationship with the EU, including trade, investment, employment and the UK's contribution to the EU Budget. </li>
                                </ul>
                                <h3>Social benefit</h3>
                                <p>
                                </p><ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06847">People from abroad: what benefits can they claim?</a> <br />This note gives an overview of the rules on access to benefits and tax credits for people coming to the UK from abroad. It describes the situation for asylum seekers, nationals from European Economic Area (EEA) countries, and non-EEA nationals.</li>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06561">Child Benefit and Child Tax Credit for children resident in other EEA countries</a><br />An overview of UK legislation about Child Benefit and Child Tax Credits which, under provisions in EU law, may be payable to EEA migrants in the UK in respect of their dependent children resident in another Member State.</li>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06889">Measures to limit migrants’ access to benefits</a><br />The note looks at the background to the changes and their likely impact on Government measures “to tighten up our EEA migration rules to ensure our welfare system is not taken advantage of.”</li>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN07145">Further proposals to restrict migrants’ access to benefits</a><br />This briefing looks at the proposals that have been put forward by all three parties to restrict access to benefits and at some of the obstacles in existing EU law to implementing them.</li>
                                </ul>
                                <h3>Competitiveness</h3>
                                <p>The Decision commits the EU to further promote the competitiveness of its economy and reduce the regulatory burden on businesses. </p>
                                <p>It will make “all efforts to fully implement and strengthen the internal market, as well as to adapt it to keep pace with the changing environment”.</p>
                                <h3>Free movement of people</h3>
                                <p>
                                </p><ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7525">Leaving the EU: How might people currently exercising free movement rights be affected?</a><br />Looks at how leaving the EU would affect the immigration status and entitlements of British citizens currently living in other EU Member States, and EU citizens living in the UK.</li>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06077">Migration Statistics</a><br />A guide to UK migration statistics and methods used in measuring them in the UK and in EU countries.</li>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN01403">Asylum Statistics</a><br />Statistics and analysis of asylum trends in the UK and other EU countries.</li>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN04737">EEA migrants: access to social housing (England) </a><br />Overview of EEA migrants' eligibility to apply for social housing in England. It considers the question of whether these people have preferential access to social housing and can 'jump the housing queue.'</li>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN07056">Employment by Country of Birth and Nationality</a><br />Statistics on how many non-UK nationals and foreign-born individuals work in the UK </li>
                                </ul>
                                <h2 id="jump-link-5">Impact of leaving</h2>
                                <p>If the UK left the EU, would UK citizens benefit? This would depend on how the Government filled any policy gaps left by withdrawal. </p>
                                <p>In some areas, the environment, for example, where the UK is bound by other international agreements, much of the content of EU law would probably remain. </p>
                                <p>In others, the government might decide to retain the substance of EU law, or to remove EU obligations from UK statutes. </p>
                                <p>Much would also depend on whether the UK sought to remain in the European Economic Area and therefore continue to have access to the single market, or preferred to go it alone and negotiate bilateral agreements with the EU. </p>
                                <p>
                                </p><ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7213">EU referendum: impact of an EU exit in key UK policy areas</a><br />This paper looks at the current situation in a range of policy areas and considers how it might change&nbsp;if the UK left the EU</li>
                                </ul>
                                <h2 id="jump-link-6">Alternatives to membership</h2>
                                <p>If the UK votes to leave the EU, how would this happen? Would the UK join a different grouping of states or go it alone? Would EU or UK citizens or businesses have any vested rights?&nbsp;</p>
                                <p>
                                </p><ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7214">EU referendum: UK proposals, legal impact of an exit and alternatives to membership</a><br />This paper considers the background to the EU referendum, the withdrawal process, various legal and constitutional issues and possible alternatives to EU membership.</li>
                                </ul>
                                <h2 id="jump-link-7">Further reading</h2>
                                <p>
                                </p><ul>
                                    <li><a href="http://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7220">The UK and the EU: reform, renegotiation, withdrawal? A reading list</a>&nbsp;- This paper provides a reading list of relevant publications.</li>
                                </ul><br />
                                <p>Image: iStockphoto</p>
                                <ul></ul>














                            </div>
                        </div>
                        <!--/PAGEWATCH-->
                        <!-- Stop Indexing -->
                    </div>



                </div>

                <div id="panel">



                    <div class="local-module">
                        <h2>Author information</h2>

                        <div class="local-module-content">



                            <div class="itemImageWithTitle">
                                <a id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_ctlRightHandModuleContainer_ctl00_rptLocalModuleItems_ctl00_ctlLocalModuleItem_hypLink" href="/mps-lords-and-offices/offices/commons/commonslibrary/">
                                    <h3>Commons Library service</h3>
                                </a>
                            </div>



                            <div class="itemText">

                                <div class="rte main-introduction">
                                    <p>Authors of the Library web pages and briefing papers are available to discuss them with MPs and their staff. </p>
                                    <p>In addition, briefing papers are published to the website.</p>
                                </div>




                            </div>



                        </div>


                    </div>





                    <div class="local-module">
                        <h2>Opinion polls</h2>

                        <div class="local-module-content">



                            <div class="itemImageWithTitle">
                                <a id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_ctlRightHandModuleContainer_ctl01_rptLocalModuleItems_ctl00_ctlLocalModuleItem_hypLink" href="https://ig.ft.com/sites/brexit-polling/">
                                    <h3>FT Brexit poll tracker</h3>
                                </a>
                            </div>



                            <div class="itemText">

                                <div class="rte main-introduction">
                                    <p>From several organisations and includes:</p>
                                    <ul>
                                        <li>latest situation</li>
                                        <li>changes over time</li>
                                        <li>individual polls</li>
                                    </ul>
                                </div>




                            </div>



                        </div>


                    </div>





                    <div class="local-module">
                        <h2>UK campaign groups</h2>

                        <div class="local-module-content">



                            <div class="itemImageWithTitle">

                            </div>

                            <div id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_ctlRightHandModuleContainer_ctl02_rptLocalModuleItems_ctl00_ctlLocalModuleItem_titleNoImage" class="itemTitleNoImage">

                                <h3>Leaving Europe</h3>
                            </div>

                            <div class="itemText">

                                <div class="rte main-introduction">
                                    <ul>
                                        <li><a href="http://www.voteleavetakecontrol.org/campaign">Vote Leave campaign</a></li>
                                        <li><a href="https://leave.eu/">Leave.EU</a></li>
                                        <li><a href="http://getbritainout.org/">Get Britain Out</a></li>
                                        <li><a href="http://grassrootsout.co.uk/">Grassroots Out</a></li>
                                    </ul>
                                </div>




                            </div>





                            <div class="itemImageWithTitle">

                            </div>

                            <div id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_ctlRightHandModuleContainer_ctl02_rptLocalModuleItems_ctl01_ctlLocalModuleItem_titleNoImage" class="itemTitleNoImage">

                                <h3>Remaining in Europe</h3>
                            </div>

                            <div class="itemText">

                                <div class="rte main-introduction">
                                    <ul>
                                        <li><a href="http://www.strongerin.co.uk/">Britain Stronger in Europe</a></li>
                                        <li><a href="http://www.businessforneweurope.org/">Business for New Europe</a></li>
                                    </ul>
                                </div>




                            </div>



                        </div>


                    </div>





                    <div class="local-module">
                        <h2>Feedback</h2>

                        <div class="local-module-content">



                            <div class="itemImageWithTitle">
                                <a id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_ctlRightHandModuleContainer_ctl03_rptLocalModuleItems_ctl00_ctlLocalModuleItem_hypLink">


                                </a>
                            </div>

                            <div id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_ctlRightHandModuleContainer_ctl03_rptLocalModuleItems_ctl00_ctlLocalModuleItem_titleNoImage" class="itemTitleNoImage">


                            </div>

                            <div class="itemText">

                                <div class="rte main-introduction">
                                    <p>Please email us if you have comments about any Commons Library material.</p>
                                    <p><a href="mailto:papers@parliament.uk">Commons Library feedback</a></p>
                                </div>




                            </div>



                        </div>


                    </div>





                    <div class="local-module">
                        <h2>Alternative formats</h2>

                        <div class="local-module-content">



                            <div class="itemImageWithTitle">
                                <a id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_ctlRightHandModuleContainer_ctl04_rptLocalModuleItems_ctl00_ctlLocalModuleItem_hypLink">


                                </a>
                            </div>

                            <div id="ctl00_ctl00_FormContent_SiteSpecificPlaceholder_ctlRightHandModuleContainer_ctl04_rptLocalModuleItems_ctl00_ctlLocalModuleItem_titleNoImage" class="itemTitleNoImage">


                            </div>

                            <div class="itemText">

                                <div class="rte main-introduction">
                                    <p>If you need a different format to access our content, please let us know what you need and whether you are using any assistive technology.</p>
                                    <p>
                                    </p><ul>
                                        <li><a href="mailto:papers@parliament.uk">papers@parliament.uk</a></li>
                                    </ul>

                                </div>




                            </div>



                        </div>


                    </div>







                </div>

            </div>

        </form>






        <div id="footer">
            <p class="marker">Footer links</p>

            <ul>

                <li><a id="ctl00_ctl00_ctlGlobalFooter_ctlNavigationLinks_rptLinks_ctl01_hypLink" href="/site-information/azindex/">A-Z index</a></li>

                <li><a id="ctl00_ctl00_ctlGlobalFooter_ctlNavigationLinks_rptLinks_ctl02_hypLink" href="/site-information/glossary/">Glossary</a></li>

                <li><a id="ctl00_ctl00_ctlGlobalFooter_ctlNavigationLinks_rptLinks_ctl03_hypLink" href="/site-information/contact-us/">Contact us</a></li>

                <li><a id="ctl00_ctl00_ctlGlobalFooter_ctlNavigationLinks_rptLinks_ctl04_hypLink" href="/site-information/foi/">Freedom of Information</a></li>

                <li><a id="ctl00_ctl00_ctlGlobalFooter_ctlNavigationLinks_rptLinks_ctl05_hypLink" href="/site-information/data-protection/">Data Protection</a></li>

                <li><a id="ctl00_ctl00_ctlGlobalFooter_ctlNavigationLinks_rptLinks_ctl06_hypLink" href="/site-information/job-opportunities/">Jobs</a></li>

                <li><a id="ctl00_ctl00_ctlGlobalFooter_ctlNavigationLinks_rptLinks_ctl07_hypLink" href="/site-information/using-this-website/">Using this website</a></li>

                <li class="last"><a id="ctl00_ctl00_ctlGlobalFooter_ctlNavigationLinks_rptLinks_ctl08_hypLink" href="/site-information/copyright/">Copyright</a></li>
            </ul>
        </div>






    </div>

