@{
    ViewBag.Title = "Home Page";
}
<div class="main-content">
    <h1>A jargon header</h1>
    cheese
    <div class="content-1">
        <p>Jargon.</p>
        <a href="#">Some jargon in a link.</a>
    </div>
    <div class="content-2">This is our prime minister jargon buster text.</div>
    <div class="content-3">
        <p>banana private members bills</p>
        <p>This is some more jargon here. surgeries And even more jargon.</p>
    </div>
</div>