@{
    ViewBag.Title = "Home Page";
}

<input type="hidden" id="parl-definitions-url" value="http:/definitions.webapi.local.dev.parliament.uk/" />
<link type="text/css" rel="stylesheet" href="http://definitions.webapi.local.dev.parliament.uk/Content/popover/jquery.webui-popover.css" />
<link type="text/css" rel="stylesheet" href="http://definitions.webapi.local.dev.parliament.uk/Content/plugins/jquery-modal.css" />
<link type="text/css" rel="stylesheet" href="http://definitions.webapi.local.dev.parliament.uk/Content/popover/custom-popover.css" />

<script type="text/javascript" language="javascript" src="http://definitions.webapi.local.dev.parliament.uk/Scripts/popover/jquery.webui-popover.js"></script>
<script type="text/javascript" language="javascript" src="http://definitions.webapi.local.dev.parliament.uk/Scripts/plugins/cookies.js"></script>
<script type="text/javascript" language="javascript" src="http://definitions.webapi.local.dev.parliament.uk/Scripts/plugins/jquery-modal.js"></script>
<script type="text/javascript" language="javascript" src="http://definitions.webapi.local.dev.parliament.uk/Scripts/parl-definitions/parl-definitions.js"></script>
   

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var options = {
            wordFrequency: 3,
            contentSelectors: [".main-content"],
            webApiUrl: "http://definitions.webapi.local.dev.parliament.uk" 
        }
        var jargonBuster = new ParlJargonBuster(options);

        jargonBuster.Build();
    });
</script>

<div class="main-content">
    <h1>A jargon header</h1>
    cheese
    <div class="content-1">
        <p>Jargon.</p>
        <a href="#">Some jargon in a link.</a>
    </div>
    <div class="content-2">This is our prime minister jargon buster text. government.</div>
    <div class="content-3">
        <p>This is some more jargon here. surgeries And even more jargon. green papers.</p>
        <p>is a type of public bills (that affects the public). Private members bills must go through the same set of procedures as other public bills. bills These three started their journey in the House of Lords.Bills!</p>
    </div>
</div>