.definition {
  color: #512d6d;
  cursor: help;
  border-bottom: 1px dotted #512d6d;
}

.definition:hover, .definition:focus {
  text-decoration: none;
  color: #512d6d;
}

.definition:visited {
    text-decoration: none;
    color: #512d6d;
}

.definition-content-titles {
    float: left;
    width: 22%;
    overflow: hidden;
}

.definition-actual-content {
    float: left;
    width: 78%;
    overflow: hidden;
} 

.webui-popover-inner {
    padding: 15px 10px;
}

/*This sorts out the arrow border */

.webui-popover {
    border-top: 2px solid #512d6d;
    border-left: 2px solid #512d6d;
    border-right: 2px solid #512d6d;
    border-bottom: 2px solid #512d6d;
    background-color: #fbf7ff;
}

.webui-popover.bottom > .arrow {
    margin-left:-1px;
    border-bottom-color: #512d6d;
    margin-top:-1px;
}

.webui-popover.bottom-right > .arrow {
    margin-left:-1px;
    border-bottom-color: #512d6d;
    margin-top:-1px;
}

.webui-popover.bottom-left > .arrow {
    margin-left:-20px;
    border-bottom-color: #512d6d;
    margin-top:-1px;
}

.webui-popover.top > .arrow {
    margin-left:-1px;
    border-top-color: #512d6d;
    margin-bottom:-1px;
}

.webui-popover.top-right > .arrow {
    margin-left:-1px;
    border-top-color: #512d6d;
    margin-bottom:-1px;
}

.webui-popover.top-left > .arrow {
    margin-left:-20px;
    border-top-color: #512d6d;
    margin-bottom:-1px;
}

.webui-popover > .arrow {
    border-width: 11px;
}

.webui-popover.bottom > .arrow:after {
    top: 3px;
    border-bottom-color: #fbf7ff;
}

.webui-popover.bottom-right > .arrow:after {
    top: 3px;
    border-bottom-color: #fbf7ff;
}

.webui-popover.bottom-left > .arrow:after {
    top: 3px;
    border-bottom-color: #fbf7ff;
}

.webui-popover.top > .arrow:after {
    bottom: 3px;
    border-top-color: #fbf7ff;
}

.webui-popover.top-right > .arrow:after {
    top: -13px;
    border-top-color: #fbf7ff;
}

.webui-popover.top-left > .arrow:after {
    top: -13px;
    border-top-color: #fbf7ff;
}

/* --------------- */

/* css for enable-disbale toggle*/

.parl-toggle-definitions-container {
    width: 190px;
}

.parl-toggle-definitions-buttons {
    clear: left;
    float: left;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
}

.parl-toggle-definitions-button {
    display: block;
    float: left;
    padding: 5px 15px;
    margin: 1px;
    color: #aaaaaa;
}

.parl-toggle-definitions-button.enabled {
    border-radius: 3px;
    color: white;
    background-color: #512d6d;
}
