#header ul#level-1 li.parl-definitions-toggle-list {
    border-right: 0;
}

#header #navigation UL LI.parl-definitions-toggle-list {
    float: right;
}

#header ul#level-1 li a.parl-definitions {
    color: #512d6d;
    cursor: help;/* url(question-icon-2.svg), auto;*/
    border-bottom: 1px dotted #512d6d;
    padding: 0;
}

#header ul#level-1 li .parl-definitions:hover, #header ul#level-1 li .parl-definitions:focus {
    text-decoration: none;
    color: #512d6d;
    background-color: #ffffff;
}

.parl-definitions:visited {
    text-decoration: none;
    color: #512d6d;
}

#header img.info-icon {
    float: right;
    width: 13px;
    height: 13px;
    margin-bottom: 0;
    margin-left: 5px;
}