<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="JargonBusterDbContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=MDAT003TSWH;Database=PPE_Definitions;Initial Catalog=PPE_Definitions;Integrated Security=False;User ID=PPE_Definitions_User;Password=HJP^54BaezsGUaA9fd5A9eUHYB_iUb3Ez$YwtdxZJnfqV3FxnNnME5CFBEaLdRR2#kgFuomVK8kXQC8$bHr4CvZhMF_CtHecV4z_TZm~48CAjwgq^GBwWfWmSgropXM"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>