@model AdminApp.ViewModels.DefinitionViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div id="#formModal" class="modal">
        @Html.Partial("_FormModal", Model)
    </div>
</div>
