@Model Parliament.JargonBuster.AdminApp.ViewModels.DefinitionsViewModel

@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var def in Model.Definitions)
    {
        <li>@def</li>
    } 
</ul>