@Model Parliament.JargonBuster.AdminApp.ViewModels.DefinitionsViewModel

@{
    ViewBag.Title = "Home Page";
}

<ol>
    @foreach (var def in Model.Definitions)
    {
        <li>@def.Phrase</li>
    } 
</ol>